node_modules/
**/node_modules/

.DS_Store
**/.DS_Store

.expo/
**/.expo/
apps/mobile/.expo/

.next/
**/.next/

*.tsbuildinfo

_backups
node_modules/
**/node_modules/
.expo/
**/.expo/
*.apk
apps/web/public/pallinky.apk

*.apk
apps/web/public/pallinky.apk

node_modules/
.pnp/
.next/
dist/
build/
.expo/
expo-env.d.ts

*.apk
*.aab
*.ipa

.env
.env.*
!.env.example
